<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body onload="init()">
    <h1>filename: {{ file_name }}</h1>
    <form id='mnist-form' onsubmit="canvastoimage()">
        <input type="hidden" id="canvasimg" name="canvasimg" />
        <input type="submit">
    </form>
    <canvas id="can" width="128" height="128"></canvas>
    <input type="button" value="clear" id="clr" size="23" onclick="erase()">
    <h2 id="pred"></h2>
    <script src="../static/client.js"></script>
</body>
</html>